{% extends 'header.html' %}
{% block content %}
{% load static %}

<div class="big-sale-main">
    <div class="big-sale-left">
    <div class="big-sale-head">
        <h1>BIG SALE</h1>    
    </div>
    <div class="big-sale-cap">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nemo esse vel beatae animi nobis doloremque, minima natus totam quae, aspernatur.</p>
    </div>
    <div class="big-sale-buttons">
        <button class="discover" type="submit">DISCOVER STORE</button>
        <button class="learn" type="submit">LEARN MORE</button>
    </div>
</div>
<div class="big-sale-right">
    <img src="{% static 'images/first.png' %}" alt="">
</div>
</div>

<div class="section-3">
    <div class="men-collection-left">
        <div class="men-collection-cap">
        <p>MEN's </p>
        <h6>Collection</h6>
        <button class="discover">DISCOVER NOW</button>
    </div>
    <div class="men-collection-img">
        <img src="{% static 'images/male1.png' %}" alt="" style="height: 700px; width: 350px;">
    </div>
    </div>
    <div class="collection-right">
    <div class="women-collection-right">
        
            <div class="women-collection-cap">
                <p>WOMEN's</p>
                <h6>Collection</h6>
                <button class="discover">DISCOVER NOW</button>
           </div>
            <div class="women-collection-img">
               
                </div>
        </div>
        <div class="kids-collection">
            <div class="kids-collection-cap">
                <p>Kids's</p>
                <h6>Collection</h6>
                <button class="discover">DISCOVER NOW</button>
            </div>
            <div class="kids-collection-img">
            </div>    
        </div>
    </div>
</div>
<div class="section-4">
    <div class="new">
        <h5>WHATS NEW</h5>
        <p>New Collection This Season</p>
    </div>
    <div class="bags-main">
        <div class="bags">
        <div class="bag-one"></div>
        <div class="name"><h4>Ladies Fashion Bag</h4><p>from $30</p></div>
    </div>
        <div class="bags">
        <div class="bag-two"></div>
        <div class="name"><h4>Leather Fashinable Bags</h4><p>from $30</p></div>
    </div>
    <div class="bags">
        <div class="bag-three"></div>
        <div class="name"><h4>Leather Fashinable Bags</h4><p>from $30</p></div>
    </div>
</div>

<div class="section-5">
    <div class="cap-one">
    <h6>
    get 10% off
    </h6>
    <h1>
        When you signup for our infrequent but awesome newsletter
    </h1>
</div>
    <div class="email">
        <input type="text">
        <button class="discover" type="submit">SUBSCRIBE</button>
    </div>
    <div class="cap-two">
<p>We promise we have no interest sharing your info</p>
    </div>
</div>

<div class="section-6">
    <div class="cap-main">
        <h1>FEATURED PRODUCTS</h1>
        <p>New Collections this season</p>
    </div>
    <div class="main-bag">
        <div class="main-bag-one">
            <div class="one-bag"></div>
            <div class="name"><h4>Leather Fashinable Bags</h4><p>from $30</p></div>
        </div>
   
   
        <div class="main-bag-one">
            <div class="two-bag"></div>
            <div class="name"><h4>Leather Fashinable Bags</h4><p>from $30</p></div>
        </div>
   
    
        <div class="main-bag-one">
            <div class="three-bag"></div>
            <div class="name"><h4>Leather Fashinable Bags</h4><p>from $30</p></div>
        </div>
 
   
        <div class="main-bag-one">
            <div class="four-bag"></div>
            <div class="name"><h4>Leather Fashinable Bags</h4><p>from $30</p></div>
        </div>
    
   
        <div class="main-bag-one">
            <div class="five-bag"></div>
            <div class="name"><h4>Leather Fashinable Bags</h4><p>from $30</p></div>
     
    </div>
  
        <div class="main-bag-one">
            <div class="six-bag"></div>
            <div class="name"><h4>Leather Fashinable Bags</h4><p>from $30</p></div>
        </div>
    </div>
</div>

<div class="section-7">
    <div class="lookbook">
        <h1>
            New lookbook
        </h1>
        <h2>
            full preview out now
        </h2>
        <p>discover our new collection 2017</p>
        <button class="discover">View lookbook</button>
    </div>
</div>

<div class="section-8">
    <div class="sqr"><div class="rect">
        <div class="title">From the blog</div>
        <div class="lorem">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, repudiandae. Excepturi est suscipit ullam Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus odit.</div>
        <button class="discover">Check out</button>
</div>
</div>
</div>

<div class="section-9">
    <div class="latest">
        <h1>Latest Posts</h1>
        <p>Latest posts show here</p>
    </div>
    <div class="three-latest-pics">
        <div class="three">
            <div class="latest-one"></div>
            <div class="latest-cap"><h4>Top 15 gift ideas for men</h4><p>May 07,2017</p></div>
        </div>
        <div class="three">
            <div class="latest-two"></div>
            <div class="latest-cap"><h4>Top 15 gift ideas for men</h4><p>May 07,2017</p></div>
        </div>
        <div class="three">
            <div class="latest-three"></div>
            <div class="latest-cap"><h4>Top 15 gift ideas for men</h4><p>May 07,2017</p></div>
        </div>
    </div>
</div>
{% endblock %}