{% extends 'header.html' %}
{% block content %}
{% load static %}

<style>
	table{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	td{
		text-align: center;
	}
 button {
		
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin-left: 80px;
	}
</style>

{% if msg %}
<p style="color: blue; text-align: center;">{{msg}}</p>
{% endif %}
<form action="{% url 'new-password' %}" method="POST">
	{% csrf_token %}
	<table cellspacing="2" cellpadding="2" >
		
		<tr>
			<td>
				<label class="n_password">New Password</label>
			</td>
			<td>
				<input type="password" name="n_password" class="n_password">
			</td>
		</tr>

		<tr>
			<td>
				<label class="c_password">Confirm New Password</label>
			</td>
			<td>
				<input type="password" name="c_password" class="c_password">
			</td>
		</tr>

		
		<tr>
			
			<td colspan="2">
				<button class="discover" name="new-password">Change Password</button>
			</td>
		</tr>
		
	</table>
</form>
{% endblock %}