{% extends 'seller-header.html' %}
{% block content %}
{% load static %}

<style>

	table{
		display: flex;
		justify-content: center;
		align-items: center;
		
	}

	td{
		padding: 10px;
        vertical-align: middle;
	}

label {
        font-weight: bold;
        margin-bottom: 5px;

    }

    input, textarea, select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type="file"] {
        padding: 0;
    }

    textarea {
        resize: vertical;
    }

     button {
        padding: 10px 20px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-left: 10px;
    }

    button:hover {
        background-color: #0056b3;
    }
	
 button {
		
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin-left: 180px;
	}
</style>

{% if msg %}
<p style="color: blue; text-align: center;">{{msg}}</p>
{% endif %}
<form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<table cellspacing="2" cellpadding="2" >
		<tr>
			<td>
				<label class="usertype">User type</label>
			</td>
			<td>
				<select class="cat_1" name="usertype">
					<option>Select Category</option>
					{% if request.session.usertype == "buyer" %}
					
					<option value="buyer" selected>Buyer</option>
					<option value="seller">Seller</option>
					{% else %}
					<option value="buyer" >Buyer</option>
					<option value="seller" selected>Seller</option>
					{% endif %}

					
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<label class="fname">Name</label>
			</td>
			<td>
				<input type="text" name="fname" value="{{ user.fname }}">
			</td>
		</tr>


		<tr>
			<td>
				<label class="lname">Lname</label>
			</td>
			<td>
				<input type="text" name="lname" value="{{ user.lname }}">
			</td>
		</tr>



		<tr>
			<td>
				<label class="email" style="margin-right: 100px;">Email</label>
			</td>
			<td>
				<input type="email" name="email" value="{{user.email}}" readonly>
			</td>
		</tr>

		<tr>
			<td>
				<label class="mobile">Mobile</label>
			</td>
			<td>
				<input type="tel" name="mobile" value="{{user.mobile}}">
			</td>
		</tr>

		<tr>
			<td>
				<label class="ad">Address</label>
			</td>
			<td>
				<textarea name="address" rows="5" cols="20">{{user.address}}</textarea>
			</td>
		</tr>

		<tr>
			<td>
				<label class="profile_picture">Profile picture</label>
			</td>
			<td>
				<img src="{{user.profile_pic.url}}" style="width:100px;height:100px;border-radius: 50%;" >
			</td>
		</tr>
			<tr>
				<td>
				</td>
			<td>
				<input type="file" name="profile_picture" class="profile_pic">
			</td>
		</tr>

		<tr>
			
			<td colspan="2">
				<button class="discover">Update profile</button>
			</td>
		</tr>

	</table>
</form>
{% endblock %}