{% extends 'header.html' %}
{% block content %}
{% load static %}

<style>



	
    .main-pro{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;

     }
     .pro1-img{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: calc(33%);
     }
     .product_img{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
     }
     .product_img > img {
        width: 200px;
        height: 200px;
     }

     .pro1-cap{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        gap: 10px;
     }
     .discover {
        padding: 10px 20px;
        background-color:#a4836d;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
       
    }

    .discover:hover {
        background-color: #424242;
    }
    
 .discover {
        width: 180px;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        
    }
    

</style>

{% if msg %}
<p style="color: blue; text-align: center;">{{msg}}</p>
{% endif %}
<form action="{% url 'wishlist' %}" method="POST" enctype="multipart/form-data">
	{% csrf_token %}

    
    <div class="main-pro">
    {% for i in wishlists %}
        <div class="pro1-img">
    <div class="product_img">
        
        <img src="{{i.product.product_image.url}}"></div>
     
     <div class="pro1-cap">
     <div class="pro">{{i.product.product_name}}</div>
      <div class="pro">{{i.product.product_price}}</div>
      <a href="{% url 'add-to-cart' pk=i.product.pk %}" class="discover">Add to cart</a>
      <a href="{% url 'remove-from-wishlist' pk=i.product.pk %}" class="discover">REMOVE FROM WISHLIST</a>
    </div>
    </div>
    {% endfor %}
</div>

    

{% endblock %}